@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
#pagina{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #3c096c 30%, #06069b 70%); 
    display: flex;
    justify-content: center;
    align-items: center;
}
    

main{
    width: 70%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#logImg{
    width: 50%;
    height: 100%;
    background-image: url(../assets/image/bacground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

 

#logIn{
    width: 65%;
    height: 100%;
    box-shadow: 0px 0px 20px;
    background-color: aliceblue;
    flex-direction: column;
    display: flex;
    align-items: center;
    

} 

header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 35px;
    font-weight: 800;
}

#mainLog{
    width: 90%;
    height: 390px;
    margin: 130px 0px;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

input{
    width: 65%;
    height: 35px;
    border: none;
    
    box-shadow: 0px 2px 4px; 
    border-radius: 5px;
    margin: 0px 0px;
}

